body footer{
    display: flex;
    align-items: flex-end;
}
body{
    margin-top: 50px;
    background: #FCFFEB;
}
.h1{
    margin-bottom:10px;
    text-align: center;
    font-weight: 500;
    font-size: x-large;
    text-shadow: 5px 2px 4px #474350;
    color: #FECDAA;
    font-family: 'Kdam Thmor Pro', sans-serif;
}
.footer{
display: inline;
display: flex;
justify-content: center;
}
p{
    color:#FDB886;
    font-size: small;
    font-weight: 400;
    text-align: center;
    font-family: 'Kdam Thmor Pro', sans-serif;
    
}
.notes{
    position: relative;
    background: #FAFAC6;
    width:300px;
    height: 100px;
    margin: 50px auto;
    border-radius: 5px;
}
.notes:hover{
    outline: 2px solid gray;
}
.notes div,
.notes button{
    position: absolute;
}
.title{
    position: relative;
    font-size: larger;
    color: #FAFAC6;
    font-weight: 900;
    left: 0;
    
    z-index: 1;
}
.title a {
    color: #474350;
    font-weight: 600;
}
.title a:hover{
    color: #FECDAA;
}
.description{
    font-weight: 700;
    color: #00100B;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}
.date{
    right: 0;
    bottom: 0;
}
.hola{
    width: 300px;
    margin: auto;
}
.hola input, 
.hola textarea{
    display:block;
    width: 100%;
    padding: 5px;
    margin-bottom:10px;
    border-radius: 5px;
    border: 2px solid gray;
    color: #474350;
}
.contenedor{
    margin-bottom:50px ;
}
::placeholder{
    font-weight: 500;
    color:gray;
}
.parr {
    background: #FCFCD9;
    margin-top: 4px;
    width: 300px;
    height: 20px;
}
.notes #button{
    width: 20px;
    right: 0;
    border: 0px solid;
    padding-top: 0px;
    background: transparent;
}
.notes #button:hover{
    color:#FECDAA;
}
.submit{
    border-color: transparent;
    font-weight: 900;
    background: white;;
}
.submit:hover{
    border-color: transparent;
    font-weight: 900;
    background: #C0BCC7;
}

